body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.first-part{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.name-heighlight{
    font-size: 40px;
    color: darkorange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    height: 500px;
}
.img{
    width: 100%;
}
.btn{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(45deg, rgb(212, 29, 197),rgb(16, 171, 243));
    padding: 10px 12px;
    border-radius: 5px;
}
.header-bg{
    background-image: url("images/header-bg.png");
    background-position: center;
    background-size: cover;
}
.biography-part{
    background-image: url("images/biography-bg.png");
    background-position: center;
    background-size: cover;
}
.work{
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-top: 12px;
    
}
.last-part{
    background-image: url("images/latest-work-bg.png");
    background-position: center;
    background-size: cover;
}
.message{
    margin-top: 40px;
  background-color: tomato;
    position: relative;
    left:50%;
    right: 50%;
    transform: translate(-50%,-50%);
    margin-top: 80px;
    width: 300px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    
}
.message-taxt{
    color: white;
    font-size: 12px;
}
.message-text2{
    color: white;
    font-size: 24px;
    font-weight: 700;}
.footer-bg{
    background-image: url("images/footer-bg.png");
    background-position: center;
    background-size: cover;
}    

